*{
padding:0%
    }
body{
    border: 1px solid;
    width: 440px;
    margin: auto;
    header{
        div.header-ite{
            
            background-color: black;
            color: antiquewhite;
           
        }
    }
    
    main{
        
        div.first{
            /* border: 1px solid;  */
            background-color: black;
            color: antiquewhite;
            height: 100px;
            display: flex;
            
            div.profile-picture{

                img{
                    height:100px;
                    border-radius: 100%;
                    aspect-ratio: 1/1;
                }
            }
        div.profile-details {
            display: grid;
            grid-template-columns: auto auto auto;
            div.num-of-posted{
                margin-left: 50px;
            }
            div.num-of-followers{
                margin-left: 50px;
            }
            div.num-of-following{
                margin-left: 50px;
            }
            h3{
                margin-left: 10px;
            }
            }

        }
        div.bio {
            h4{
                padding-top: 0px;
                margin-top: 0px;
                margin-bottom: 0%;
            }
            /* border: 1px solid; */
            padding-top: 5px;
            padding-left: 5px;
            /* margin-left: 10px; */
            background-color: black;
            color: antiquewhite;

        }

        }
        }
        div.edit{
            
            /* border: 1px solid; */
            background-color: black;
            color: antiquewhite;
            padding-left: 30px;
            display: grid;
            grid-template-columns: auto auto 50px;
            padding-top: 10px;
            /* margin-left: 30px; */
            button{
                background-color: rgb(81, 78, 78);
                color: antiquewhite;
                border-radius: 4px;
                border: 0px;
                padding-left:40px; 
                padding-right: 40px; 
            }
        }  
           
        div.highlights{
            background-color: black;
            color: antiquewhite;
            /* border: 1px solid; */
            display: grid;
            grid-template-columns: auto auto auto auto;
            padding-top: 10px;
            /* margin-left: 10px; */
            padding-left: 10px;
        div.highlights-picture
            {
               /* border: 1px solid; */
                 
                img{
                    height: 50px;
                    border-radius: 100%;
                    aspect-ratio: 1/1;
            }
                }
                div.high-name{
                    margin-left: 12px;
                }
            }
                div.posts
                {
                    background-color: black;
                    color: antiquewhite;
                    display:grid;
                    grid-template-columns: auto auto auto ;
                    align-items: center;
                    i{
                        margin: auto;
                        margin-top: 10px;
                    }
                div.posts-pictures
                {
                    img{
                        padding-top: 10px;
                        height: 137px;
                        aspect-ratio: 1/1;  
                        margin-left: 5px; 
                }
            }
        }
    
    footer{
        height: 20px;
        background-color: black;
        color: antiquewhite;
        padding-top: 5px;
        
        bottom: 0;
        position: fixed;
        width: 440px;

        div.insta-footer{  
            display: flex;
            justify-content: space-between;
            i{
                margin-left: 5px;
                margin-right: 5px;
            }
           img{
            height: 18px;
            border-radius: 100px;
            /* padding-right: 10px; */
            margin-right: 10px;
           }
        }
    }